<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>管理後臺</title>
	</head>
	<body>
		<a href="/admin/export/Group/">匯出團體會員資料</a>
		<br>
		<a href="/admin/export/Only">匯出個人會員資料</a>
		<br>
		<a href="/admin/imports/Group/">匯入團體會員資料</a>
		<br>
		<a href="/admin/imports/Only">匯入個人會員資料</a>
		<br>
	</body>
</html>