<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>管理後臺</title>
	</head>
	<body>
		<a href="/admin/group/">GROUP</a>
		<br>
		<a href="/admin/ind">IND</a>
		<br>
		<a href="/admin/System">SYSTEM</a>
	</body>
</html>