<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Index</title>
</head>
<body>
	<h1>Index of</h1>
	<hr>
	<form action="./handle_One" enctype="multipart/form-data" method="post">
		Name: <input type="text" name="name"><br>
		File: <input type="file" name="fileToUpload" id="fileToUpload"><br>
		Sex: <input type="radio" class="radio" value="true" name="sw"><br>
		<input type="submit" value="Send" name="submit">
	</form>
</body>
</html>