<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>登入</title>
</head>
<body>
	<form action="/i_auth" method="post">
		電子郵件: <input type="text" name="email"> <br>
		出生年月日: <input type="date" name="birthday"> <br>
		<input type="submit" value="登入"/>
	</form>
</body>
</html>